<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SimpleSettingsConfig" type="JsonExSerializer.XmlConfigSection, JsonExSerializer"/>
		<section name="TypeBindingAdd" type="JsonExSerializer.XmlConfigSection, JsonExSerializer"/>
		<section name="TypeBindingRemove" type="JsonExSerializer.XmlConfigSection, JsonExSerializer"/>
		<section name="TypeBindingClearAdd" type="JsonExSerializer.XmlConfigSection, JsonExSerializer"/>
		<section name="TestRegisterTypeConverter" type="JsonExSerializer.XmlConfigSection, JsonExSerializer"/>
		<section name="TestCollectionHandlers" type="JsonExSerializer.XmlConfigSection, JsonExSerializer"/>
		<section name="TestIgnoreProperties" type="JsonExSerializer.XmlConfigSection, JsonExSerializer"/>
		<section name="TestMultipleSections" type="JsonExSerializer.XmlConfigSection, JsonExSerializer"/>
	</configSections>
	<SimpleSettingsConfig>
		<IsCompact>true</IsCompact>
		<OutputTypeComment>false</OutputTypeComment>
		<OutputTypeInformation>false</OutputTypeInformation>
		<ReferenceWritingType>WriteIdentifier</ReferenceWritingType>
	</SimpleSettingsConfig>
	<TypeBindingAdd>
		<TypeBindings>
			<add alias="SimpleObject" type="JsonExSerializerTests.Mocks.SimpleObject, JsonExSerializerTests" />
		</TypeBindings>
	</TypeBindingAdd>
	<TypeBindingRemove>
		<TypeBindings>
			<remove type="System.Int32, mscorlib" />
			<remove alias="float" />
		</TypeBindings>
	</TypeBindingRemove>
	<TypeBindingClearAdd>
		<TypeBindings>
			<clear />
			<add alias="SimpleObject" type="JsonExSerializerTests.Mocks.SimpleObject, JsonExSerializerTests" />
		</TypeBindings>
	</TypeBindingClearAdd>
	<TestRegisterTypeConverter>
		<TypeConverters>
			<!-- converter for type -->
			<add type="JsonExSerializerTests.Mocks.SimpleObject, JsonExSerializerTests" converter="JsonExSerializerTests.Mocks.SelfConverter, JsonExSerializerTests" />
			<!-- converter for a property on a type -->
			<add type="JsonExSerializerTests.Mocks.SimpleObject, JsonExSerializerTests" property="BoolValue" converter="JsonExSerializerTests.Mocks.BoolToIntConverter, JsonExSerializerTests" />
		</TypeConverters>
	</TestRegisterTypeConverter>
	<TestCollectionHandlers>
		<CollectionHandlers>
			<add type="JsonExSerializerTests.Mocks.MockCollectionHandler, JsonExSerializerTests" />
		</CollectionHandlers>
	</TestCollectionHandlers>
	<TestIgnoreProperties>
		<IgnoreProperties>
			<add type="JsonExSerializerTests.Mocks.MyLine, JsonExSerializerTests" property="Start" />
			<add type="JsonExSerializerTests.Mocks.MyLine, JsonExSerializerTests" property="End" />
		</IgnoreProperties>
	</TestIgnoreProperties>
	<TestMultipleSections>
		<TypeConverters>
			<!-- converter for type -->
			<add type="JsonExSerializerTests.Mocks.SimpleObject, JsonExSerializerTests" converter="JsonExSerializerTests.Mocks.SelfConverter, JsonExSerializerTests" />
		</TypeConverters>
		<IgnoreProperties>
			<add type="JsonExSerializerTests.Mocks.MyLine, JsonExSerializerTests" property="Start" />
		</IgnoreProperties>
	</TestMultipleSections>
</configuration>